// colors
$fontColor: #333;
$backgroundColor: #f9faff;
$tableHeaderColor: #eaf2ff;
$dateAndTimeColor: #8e8e93;
$messageColor: #8b91dd;
$femaleBackgroundColor: rgba(246, 87, 110, 0.4);
$maleBackgroundColor: rgba(139, 145, 221, 0.4);
$matchPhoneColor: #2c7dfa;
